<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= insta_photo.username %></h4>
    <h6 class="card-subtitle text-muted"><%= insta_photo.likes_count %> likes </h6>
  </div>
  <%= image_tag insta_photo.url %>
  <div class="card-block">
    <p class="card-text"><%= insta_photo.caption %></p>
    <a href="#" class="btn btn-primary">Another link</a>
  </div>
</div>